<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title >mohammed</title>

</head>
<body>
<!-- start upper bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pt-3 pb-3" th:fragment="nav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-4" href="/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/myboards}"><i class="fas fa-check"></i>My Boards</a></li>
                        <li><a class="dropdown-item" th:href="@{/addboard}"><i class="fas fa-plus"></i> Add Board</a></li>
                        <li><a class="dropdown-item" th:href="@{/friends}"><i class="fas fa-star"></i> Friends</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/explorer}">Explore</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item m-auto">
                    <a type="button" class="btn btn-info  me-2" href="/login">Login</a>
                </li>
                <li class="nav-item m-auto">
                    <a type="button" class="btn btn-secondary  me-2" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item avatar-img dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img th:src="@{img/avatar.png}" src="img/avatar.png" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/profile"><i class="far fa-user"></i>My profile</a></li>
                        <li><a class="dropdown-item" href="/logout" ><i class="fas fa-sign-out-alt"></i> logout</a>

                        </li>

                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<script th:fragment="navbarJs" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
></script>
</body>
</html>