h1{
    color: red;
}
.searchCard{
    width: 52vw !important;
    left: 20.1rem;
}
.containerCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.peopleCard{
    margin: 25px;
    max-width: 55rem;
    width: 55rem;
}
.userIcon{
    color: #005b96;
    width: 2rem;
    height: 2rem;
}

.UserButtonInExplorer{
    position: absolute;
    top: 1px;
    right: 20px;
}
.explorerUser{
    margin: 10px;
}
.explorerUser:hover{
    transform: scale(1.2) ;
}
.addUserImg{
    width: 2.0rem;
}

.searchButton{
    border-color: #00000045 !important;
}

.searchButton:hover {
    color: #fff;
    background-color: #f3f3f3;
    border-color: #6c757d59;
}
.addFriendButton{
    border: none;
    background-color: #ffffff00;
}



