<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/Board.css}">
</head>
<body>
<header>
    <h1>Drag & Drop<br/><span>To Do Board</span></h1>
</header>

<link type="text/css" rel="stylesheet" th:href="@{/css/Board.css}">
<div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
    <li>task one</li>
    <li class="checked">task two</li>
    <li>task two</li>
    <li>task two</li>
    <li>task two</li>
    <li>task two</li>
</ul>
<footer>

</footer>
<script src="dist/dragula.min.js"></script>
<script src="app.js"></script>


</body>
</html>