<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>explorer</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/explorer.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->

</head>
<body>
<nav th:replace="fragments/navfrag :: nav"></nav>

<div class="searchCard searchTagDescResult input-group mb-3">
    <form th:action="@{/findUser}" method="get">
    <input type="text" name="username" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn searchButton" type="submit" id="button-addon2" ><img src="/img/search.svg" alt="" class="addUserImg"/></button>
    </form>
</div>

<div class="containerCard">

    <div class="peopleCard card mb-3" style="max-width: 700px;" th:each="user: ${searchUser}">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{/img/userDummyImage.png}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.getUsername()}"></h5>
                    <p class="card-text" th:text="${user.getProfession()}"></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="UserButtonInExplorer">
<!--                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" ><img src="/img/user-circle.svg" alt="" class="addUserImg explorerUser"/></button>-->
<form th:action="@{/addFriend/{id}(id=${user.getId()})}" method="post">
    <button type="submit" class="addFriendButton" ><img src="/img/addUser.svg" alt="" class="addUserImg explorerUser"/></button>

</form>
                </div>
            </div>
        </div>
    </div>

<!--    // pop up model-->
<div class="modal"  id="exampleModal" tabindex="-1" aria-labelledby="peopleProfile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>