<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mohammed</title>
    <!--    <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="https://kit.fontawesome.com/9e5d1913ca.js" crossorigin="anonymous"></script>

</head>
<body>

<!-- start upper bar -->
<nav th:replace="fragments/navfrag :: nav"></nav>

<!-- end upper bar -->
<!-- start hero img section  -->
<section class="heroimg">
    <div class="overlay"></div>
    <div class="display">

        <h1>To Do Bot</h1>
        <p>Makes our life organized, and more productive!<br>
            Write everything down and free up your mental space, <br> What you need is to <b>Join us</b>,<br> one button
            can make your life easier! </p>
        <a type="button" class="btn btn-info w-25 mt-2" href="/signup" target="_blank">Sign Up</a>

    </div>
    <div class="custom-shape-divider-bottom-1627680856">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                  opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                  opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                  class="shape-fill"></path>
        </svg>
    </div>


</section>

<!-- end hero img section  -->
<!-- start section #2 -->
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section2-text">
                    <h1>What is ToDo Bot?</h1>
                    <p><b>ToDo Bot</b> is a virtual workspace that brings the right people,
                        information, and tools together to get work done. <br>
                        With the aim of facilitating communication and personal interaction in corporate project work by
                        capturing and prioritizing ideas, projects and to-dos.</p>
                </div>
            </div>
            <div class="col">
                <div class="section2-img">
                    <img th:src="@{/img/section2.gif}" alt="Hello">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end section #2 -->
<!-- start section #3 -->
<section class="section-3">
    <div class="custom-shape-divider-top-1627703057">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container">
        <h1>Already have an account?</h1>
        <p><b>Don't forget us !</b> <br>
            Keep a journal to download the inner chatter that’s constantly interrupting your thought process when you’re
            trying to get important things done or invite your team to organize thing together.</p>
        <a type="button" class="btn btn-secondary  w-25" href="/login" target="_blank">Login</a>
    </div>
</section>
<!-- end section #3 -->
<!-- start section #4 -->
<section class="section-4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col h-100">
                <div class="section2-img h-100">
                    <img th:src="@{/img/1.png}" alt="">
                </div>

            </div>
            <div class="col">
                <div class="section2-text">
                    <h1>Why Do We Need ToDo Bot?</h1>
                    <p>
                    <ul>
                        <li><b>To keep track of our ideas:</b> ToDo Bot is a great place to keep all of our thoughts in
                            one place. <br>We can use it to jot down new ideas or expand on older ideas.
                        </li>
                        <br>
                        <li><b> To organize our life:</b> With using ToDo Bot we can track our habits, plan our life,
                            and make it simpler and organized.
                        </li>
                        <br>
                        <li><b> Helps us and our team move work forward:</b> With using ToDo Bot we can collaborate,
                            manage projects, and reach new productivity peaks.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end section #4 -->
<!-- start footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>ToDo Bot</h1>
                <p><b>Collaboration tool and personal notepad.</b> <br>
                    Effective strategy for increasing your productivity at work. <br> Also helps you manage personal
                    life.</p>
            </div>
            <div class="col">
                <h1>Quick links</h1>
                <ul class="footer-ul">
                    <li class="nav-item"><a href="" class="footer-link" target="_blank"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <!-- Not User -->
                    <div th:unless="${user}">
                        <li class="nav-item"><a class="footer-link" th:href="@{/login}" target="_blank"><i
                                class="fas fa-sign-in-alt"></i>Login</a></li>
                        <li class="nav-item"><a class="footer-link" th:href="@{/signup}" target="_blank"><i
                                class="fas fa-plus"></i> Sign Up</a></li>
                        <li class="nav-item"><a class="footer-link" href="https://github.com/Todo-Dev"
                                                target="_blank"><i class="fas fa-users"></i>
                            Our Organization</a></li>
                    </div>
                    <!-- User -->
                    <div th:if="${user}">
                        <li class="nav-item"><a class="footer-link" href="/myboards" target="_blank"><i
                                class="fas fa-check"></i>My
                            Boards</a></li>
                        <li class="nav-item">
                            <button class="addBoardButton" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <a class="footer-link">
                                    <span><i class="fas fa-plus"></i></span>
                                    Add Board</a>
                            </button>
                        </li>
                        <li class="nav-item"><a class="footer-link" href="/friends" target="_blank"><i
                                class="fas fa-star"></i>
                            Friends</a></li>
                    </div>
                </ul>
            </div>
            <div class="col">
                <h1>Contact Us</h1>
                <div class="social">

                    <a class="footer-link" href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-f ">
                        </i>
                    </a>

                    <a class="footer-link" href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram">
                        </i>
                    </a>

                    <a class="footer-link" href="https://linkedin.com" target="_blank">
                        <i class="fab fa-linkedin-in">
                        </i>
                    </a>

                    <a class="footer-link" href="https://github.com/Todo-Dev" target="_blank">
                        <i class="fab fa-github">
                        </i>
                    </a>

                </div>
            </div>
        </div>
        <hr>
        <p class="text-center"> all right reserved<i class="far fa-copyright"></i></p>
    </div>
</footer>
<!-- end footer -->

<!--Modal for creating a new board-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Board Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/newBoard}" method="post">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Board Name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="boardName" required>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="message-text" name="description"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info  me-2 adds">Add</button>
                        <button type="button" class="btn btn-secondary  me-2 adds" data-bs-dismiss="modal">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script href="modal.js"></script>

</body>
</html>